<div class="ui raised segment search-container">
    <img class="ui centered medium image" src="/logo-text.png" >
</div>

<div>
    <form>
        <div>
            <input/>
            <button>
                <i></i>
            </button>
        </div>
    </form>
</div>